body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .App{
  
  background-image: url("https://images.unsplash.com/photo-1621947081720-86970823b77a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80");
  color:rgb(171, 170, 170);
  height: 100vh;
  

 
} 

  




.text {
  text-align: center;
  font-size: xx-large;
  flex-direction: column;
  color:rgb(171, 170, 170);
  


}

.nav {
display: inline;
padding: 300px;
text-decoration: none;
margin: 50px;
font-size: xx-large;

  
} 

.playstations {
  color:rgb(171, 170, 170);
  text-align: center;
}

.summary{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:x-large;
  padding: 50px;
  color:rgb(171, 170, 170);

}

.title {
  display: flex;
  justify-content: center;
  color:rgb(171, 170, 170);
}

.ps{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color:rgb(171, 170, 170);

}